
:root{
    --branco: #ffff;
    --laranja: #ebdb00;
    --amarelo-degrade: linear-gradient(97.54deg, #fdff9c 35.42%, #e0ec2f 165.37%);
    --fonte-principal: "Poppins";
    --fonte-secundaria:"Josefin Sans";
}

body{
    background-color:var(--branco);
}


.cabecalho{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--amarelo-degrade);
    margin-bottom: 1em;
    
}

.cabecalho__titulo{
    font-size: 25px;
    padding: 0.5em;
    font-family: var( --fonte-principal);
    
}

.cabecalho__paragrafo{
    font-size: 16px;
    padding: 0 3em 0 3em;
    margin-bottom: 1em;
    margin-top: 0.3em;
    font-family: var(--fonte-secundaria);
}

.cabecalho__resposta_titulo{
    font-size: 17px;
    padding: 0.5em;
    cursor: pointer;
}

#resposta{
    display: none;
}

#mensagemQuente{
    display: none;
    margin-bottom: 0.5em;
    background-color: var(--laranja);
    font-family: var( --fonte-principal);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__input{
    display: flex;
    padding: 0 3em 0 3em;
    
}

.container__input_interruptor{
    display: flex;
    margin-right: 3em;
    padding: 10px;
}

.container__imagem {
    width: 240px;
    display:none  
}

.container__imagem_porta{
    width: 180px;
    margin-bottom: 10px;
}


.container__butoes{
    display: flex;

}

.container__butao{
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
    background:var(--amarelo-degrade);
    cursor: pointer;
    margin: 1px 10px 0px 10px;
}

.container__butao:hover{
    background:var(--laranja)
}


.rodape{

    position: fixed;
    bottom: 0;
    width: 100%;
    background:var(--amarelo-degrade);
    text-align: center;  
   
}

.rodape__link{
    width: 40px;
    padding: 8px; 
}


